[flake8]
ignore = W503
max-line-length = 88
exclude =
    .git,
    __pycache__,
    build,
    .eggs,
    bbtools.egg-info,
    bbtools/bblean.py
    bbtools/bb_int64.py
    bbtools/bblean_v1.py
    docs
